

<!doctype html><html lang="en">
    
<!-- Mirrored from 3.37.186.116/product-layout1.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 May 2024 15:38:58 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
        <!--Required Meta Tags-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="description">
        <!-- Title Of Site -->
        <title>Boogy.Product</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.png" />
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="/assets/css/plugins.css" />
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/responsive.css" />
    </head>

    <body class="template-product product-layout1">
        <!-- Page Loader -->
        <div id="pre-loader"><img src="/assets/images/loader.gif" alt="Loading..." /></div>
        <!-- End Page Loader -->

        <!--Page Wrapper-->
        <div class="page-wrapper">
            <!--Header-->
            <div id="header" class="header">
                <div class="header-main">
                    <header class="header-wrap container d-flex align-items-center">
                        <div class="row g-0 align-items-center w-100">
                            <!--Social Icons-->
                            
                            <div class="col-4 col-sm-4 col-md-4 col-lg-5 d-none d-lg-block">
                                <ul class="social-icons list-inline">
                                   
                                </ul>
                            </div>
                            <!--End Social Icons-->
                            <!--Logo / Menu Toggle-->
                            <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-flex">
                                <!--Mobile Toggle-->
                                <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open me-3 d-lg-none"><i class="icon an an-times-l"></i><i class="icon an an-bars-l"></i></button>
                                <!--End Mobile Toggle-->
                                <!--Logo-->
                                <div class="logo mx-lg-auto"><a href="index.html"><img class="logo-img" style="max-width: 195px;
    max-height: 82px;" src="/assets/logo/boogy logo .png" alt="Optimal Multipurpose eCommerce Bootstrap 5 Html Template" title="Optimal Multipurpose eCommerce Bootstrap 5 Html Template" /></a></div>                                <!--End Logo-->
                            </div>
                            <!--End Logo / Menu Toggle-->
                            <!--Right Action-->
                            <div class="col-6 col-sm-6 col-md-6 col-lg-5 icons-col text-right d-flex justify-content-end">
                                <!--Search-->
                                <div class="site-search iconset"><i class="icon an an-search-l"></i><span class="tooltip-label">Search</span></div>
                                <!--End Search-->
                                <!--Wishlist-->
                                <div class="wishlist-link iconset">
                                    <a href="my-wishlist.html"><i class="icon an an-heart-l"></i><span class="tooltip-label">Wishlist</span></a>
                                </div>
                                <!--End Wishlist-->
                                <!--Setting Dropdown-->
                                <div class="user-link iconset"><i class="icon an an-user-expand"></i><span class="tooltip-label">Account</span></div>
                                <div id="userLinks">
                                    <ul class="user-links">
                                        <% if(user !== null){ %>
                                            <li><a href="/loadProfile">Profile</a></li>
                                            <li><a href="/orderHistory">Orders</a></li>
                                            <li><a href="/loadWishlist">Wishlist</a></li>
                                            <li><a href="/UserLogout">Logout</a></li>
                                         <% }else{ %>
                                                <li><a href="/login">Login</a></li>
                                                <li><a href="/register">Sign Up</a></li>
                                                <li><a href="/loadWishlist">Wishlist</a></li> 
                                        <% } %>
                                    </ul>
                                </div>
                                <!--End Setting Dropdown-->
                                <!--Minicart Drawer-->
                                <div class="header-cart iconset">
                                    <a href="/getCart" class="site-header__cart btn-minicart" >
                                        <i class="icon an an-sq-bag"></i><span></span><span class="tooltip-label">Cart</span>
                                    </a>
                                </div>
                              
                                <div id="settingsBox">
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </header>
                    <!--Main Navigation Desktop-->
                    <div class="menu-outer">
                        <nav class="container">
                            <div class="row">
                                <div class="col-1 col-sm-12 col-md-12 col-lg-12 align-self-center d-menu-col">
                                    <!--Desktop Menu-->
                                    <nav class="grid__item" id="AccessibleNav">
                                        <ul id="siteNav" class="site-nav medium center hidearrow">
                                            <li class="lvl1 parent megamenu"><a href="/">Home <i class="an an-angle-down-l"></i></a></li>
                                            <li class="lvl1 parent megamenu"><a href="/loadShopPage">Shop <i class="an an-angle-down-l"></i></a>
                                                
                                            </li>
                                          
                                            
                                          
                                        </ul>
                                    </nav>
                                    <!--End Desktop Menu-->
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!--End Main Navigation Desktop-->
                    <!--Search Popup-->
                    <div id="search-popup" class="search-drawer">
                        <div class="container">
                            <span class="closeSearch an an-times-l"></span>
                            <form class="form minisearch" id="header-search" action="#" method="get">
                                <label class="label"><span>Search</span></label>
                                <div class="control">
                                    <div class="searchField">
                                        <div class="search-category">
                                            <select id="rgsearch-category" name="rgsearch[category]" data-default="All Categories">
                                                <option value="00" label="All Categories" selected="selected">All Categories</option>
                                               
                                            </select>
                                        </div>
                                        <div class="input-box">
                                            <button type="submit" title="Search" class="action search" disabled=""><i class="icon an an-search-l"></i></button>
                                            <input type="text" name="q" value="" placeholder="Search by keyword or #" class="input-text">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End Search Popup-->
                </div>
            </div>
          
            <div id="page-content">   
                <div class="breadcrumbs-wrapper text-uppercase">
                  
                </div>
             
                <div class="container">
                    <!--Product Content-->
                    <div class="product-single">
                        <div class="row">
                            <div class="col-lg-7 col-md-6 col-sm-12 col-12">
                                <div class="product-details-img thumb-left clearfix d-flex-wrap mb-3 mb-md-0">
                                    <div class="product-thumb">
                                        <div id="gallery" class="product-dec-slider-2 product-tab-left">
                                            
                                            <% product.productImage.forEach(image => { %>
                                                <a data-image="/assets/productImages/<%= image %>" data-zoom-image="/assets/productImages/<%= image %>" class="slick-slide">
                                                    <img class="blur-up lazyload" data-src="/assets/productImages/<%= image %>" src="/assets/productImages/<%= image %>" alt="product" />
                                                </a>
                                            <% }) %>
                                            
                                        </div>
                                    </div>
                                    <div class="zoompro-wrap product-zoom-right">
                                        <div class="zoompro-span">
                                            <img id="zoompro" class="zoompro" src="/assets/productImages/<%= product.productImage[0] %>" data-zoom-image="/assets/productImages/<%= product.productImage[0] %>" alt="product" />
                                          
                                        </div>
                                        <div class="product-labels">
                                            <span class="lbl pr-label1"><% if (product.offer && product.offer.length > 0) { %>
                                                <span class="lbl pr-label1">
                                                    <div class="offer-badge">
                                                        <span><%= product.offer[0].discountPercentage %>% OFF</span> <!-- Access the first and only offer -->
                                                    </div>
                                                </span>
                                            <% } %>
                                            
                                            <% if (product.discount > 0) { %>
                                                <span class="lbl on-sale">Discount Offer: <%= product.discount %>% off</span>
                                            <% } %>
                                        </div>
                                      
                                        <div class="product-buttons">
                                          
                                            <a href="#" class="btn rounded prlightbox">
                                                <i class="icon an an-expand-l-arrows"></i>
                                                <span class="tooltip-label">Zoom Image</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="lightboximages">
                                        <% product.productImage.forEach(image => { %>
                                            <a href="/assets/productImages/<%= image %>" data-size="1000x1280"></a>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                   
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                                <!-- Product Info -->
                                <div class="product-single__meta">
                                    <h1><%= product.productName %></h1>
                                    <% if (product.offer && product.offer.length > 0) { %>
                                        <% const discountedPrice = product.price - (product.price * (product.offer[0].discountPercentage / 100)); %>
                                        <span class="price">$<%= discountedPrice.toFixed(2) %></span>
                                        <span class="original-price text-muted text-decoration-line-through">Rs<%= product.price.toFixed(2) %></span>
                                    <% } else { %>
                                        <span class="price">Rs<%= product.price.toFixed(2) %></span>
                                    <% } %>
                                    
                                    <div class="product-info">
                                        <p><%= product.description %></p>
                                        <% if (product.discount > 0) { %>
                                            <p>Discount Offer: <%= product.discount %>% off</p>
                                        <% } %>
                                    </div>
                                    <div class="stock">
                                        <% if (product.quantity > 0) { %>
                                            <span class="text-success">In Stock</span>
                                        <% } else { %>
                                            <span class="text-danger">Out of Stock</span>
                                        <% } %>
                                    </div>
                                 
                                    
                                </div>
                                
                              
                                <form method="post" action="#" class="product-form hidedropdown">
                                   
                                    <div class="product-action w-100 clearfix">
                                        
                                      <div class="product-form__item--submit"> 
                                        <button type="button" name="add" class="btn rounded product-form__cart-submit" onclick="addToCart('<%= product._id %>','<%= product.quantity %>')">
                                            <span>Add to cart</span>
                                        </button>
                                                                                </div> 
                                        
                                    </div> 
                                   
                                </form>
                                <!-- End Product Form -->
                                <!-- Social Sharing -->
                                <div class="social-sharing d-flex-center mb-3">
                                
                                </div>
                               
                                <div class="trustseal-img mt-4"><img src="/assets/images/powerby-cards.jpg" alt="powerby cards" /></div>
                                <!-- End Product Info -->
                            </div>
                        </div>
                    </div>
                    <!--End Product Tabs-->
                </div>
               
                <section class="section product-slider pb-0">
                    <div class="container">
                        <div class="row">
                            <div class="section-header col-12">
                                <h2 class="text-transform-none">You May Also Like</h2>
                            </div>
                        </div>
                        <div class="productSlider grid-products">
                            <% if (products && products.length > 0) { %>
                                <% products.forEach((product) => { %>
                                    <div class="item">
                                        <!--Start Product Image-->
                                        <div class="product-image">
                                            <!--Start Product Image-->
                                            <a href="/product/<%= product._id %>" class="product-img">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload" data-src="/assets/productImages/<%= product.productImage[0] %>" src="/assets/productImages/<%= product.productImage[0] %>" alt="<%= product.productName %>" title="<%= product.productName %>">
                                            
                                                <img class="hover blur-up lazyload" data-src="/assets/productImages/<%= product.productImage[1] %>" src="/assets/productImages/<%= product.productImage[1] %>" alt="<%= product.productName %>" title="<%= product.productName %>">
                                            </a>
                                           
                                        </div>
                                      
                                        <div class="product-details text-center">
                                            <!--Product Name-->
                                            <div class="product-name text-uppercase">
                                                <a href="/product/<%= product._id %>"><%= product.productName %></a>
                                            </div>
                                            <!--End Product Name-->
                                            <!--Product Price-->
                                            <div class="product-price">
                                                <span class="price">Rs<%= product.price.toFixed(2) %></span>
                                            </div>
                                            <div class="stock">
                                                <% if (product.quantity > 0) { %>
                                                    <span class="text-success">In Stock</span>
                                                <% } else { %>
                                                    <span class="text-danger">Out of Stock</span>
                                                <% } %>
                                            </div>
                                            <!--End Product Price-->
                                            <!--Product Review-->
                                           
                                            <!--End Product Review-->
                                        </div>
                                        <!--End Product Details-->
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <p>No products available.</p>
                            <% } %>
                        </div>
                        
                    </div>
                </section>
                <!--End Recently Viewed Products-->

                <!--Customize Services-->
                <div class="section about-service product-service pb-0">
                   
                </div>
                <!--End Customize Services-->
            </div>
            <!--End Body Container-->

            <!--Footer-->
            <div class="footer footer-1">
                <div class="footer-top clearfix">
                    <div class="container">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                                <h4 class="h4">Informations</h4>
                                <ul>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="aboutus-style1.html">About us</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                                    <li><a href="#">Terms &amp; condition</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-2 footer-links">
                                <h4 class="h4">Quick Shop</h4>
                              
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                                <h4 class="h4">Customer Services</h4>
                                <ul>
                                    <li><a href="#">Request Personal Data</a></li>
                                    <li><a href="faqs-style1.html">FAQ's</a></li>
                                    <li><a href="contact-style1.html">Contact Us</a></li>
                                    <li><a href="#">Orders and Returns</a></li>
                                    <li><a href="#">Support Center</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 newsletter-col">
                                <div class="display-table pt-md-3 pt-lg-0">
                                    <div class="display-table-cell footer-newsletter">
                                        <form action="#" method="post">
                                            <label class="h4">NEWSLETTER SIGN UP</label>
                                            <p>Enter Your Email To Receive Daily News And Get 20% Off Coupon For All Items.</p>
                                            <div class="input-group">
                                                <input type="email" class="brounded-start input-group__field newsletter-input mb-0" name="EMAIL" value="" placeholder="Email address" required>
                                                <span class="input-group__btn">
                                                    <button type="submit" class="btn newsletter__submit rounded-end" name="commit" id="Subscribe"><i class="an an-envelope-l"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="list-inline social-icons mt-3 pt-1">
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="an an-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="an an-twitter" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="an an-pinterest-p" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="an an-instagram" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="TikTok"><i class="an an-tiktok" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp"><i class="an an-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom clearfix">
                    <div class="container">
                        <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse">
                            <img src="/assets/images/payment.png" alt="Paypal Visa Payments"/>
                            <div class="copytext text-uppercase">&copy; 2023 Optimal. All Rights Reserved.</div>
                        </div>
                    </div>
                </div>
            </div>
           
            <span id="site-scroll"><i class="icon an an-chevron-up"></i></span>
           
            <div class="modalOverly"></div>

           
            <div class="loadingBox"><div class="an-spin"><i class="icon an an-spinner4"></i></div></div>


            <!-- Including Jquery -->
            <script src="/assets/js/vendor/jquery-min.js"></script>
            <script src="/assets/js/vendor/js.cookie.js"></script>
            <!--Including Javascript-->
            <script src="/assets/js/plugins.js"></script>
            <script src="/assets/js/main.js"></script>
            <!-- Photoswipe Gallery -->
            <script src="/assets/js/vendor/photoswipe.min.js"></script>
            <script>
                $(function () {
                    var $pswp = $('.pswp')[0],
                            image = [],
                            getItems = function () {
                                var items = [];
                                $('.lightboximages a').each(function () {
                                    var $href = $(this).attr('href'),
                                            $size = $(this).data('size').split('x'),
                                            item = {
                                                src: $href,
                                                w: $size[0],
                                                h: $size[1]
                                            };
                                    items.push(item);
                                });
                                return items;
                            };
                    var items = getItems();

                    $.each(items, function (index, value) {
                        image[index] = new Image();
                        image[index].src = value['src'];
                    });
                    $('.prlightbox').on('click', function (event) {
                        event.preventDefault();

                        var $index = $(".active-thumb").parent().attr('data-slick-index');
                        $index++;
                        $index = $index - 1;

                        var options = {
                            index: $index,
                            bgOpacity: 0.7,
                            showHideOpacity: true,
                          
                        };
                        var lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, items, options);
                        lightBox.init();
                    });
                });
            </script>
           

        </div>
        <!--End Page Wrapper-->

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function addToCart(productId,productq) {
                
                if(productq < 1){
                    Swal.fire({
                        title: 'Error!',
                        text: 'Out Of Stock',
                        icon: 'error',
                        confirmButtonText: 'Try Again'
                    });
                return;
            }
                const id = productId;                
                const quantity = 1;
        
                fetch(`/addToCart`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'Application/json'
                    },
                    body: JSON.stringify({ quantity: quantity, id: id })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: data.message,
                            icon: 'success',
                            confirmButtonText: 'done'
                        });
                    }else{
                                    Swal.fire({
                            title: 'Error!',
                            text: data.message,
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                    }
                })
                .catch(error => {
                    console.log(error);
                    
                    Swal.fire({
                        title: 'Error!',
                        text: 'faild to add cart',
                        icon: 'error',
                        confirmButtonText: 'Try Again'
                    });
                });
            }
        </script>
        
        <%- include('../layouts/footer') %>

